*.class
*.jar
*.orig
*.properties
.classpath
.project
.testrun
CHANGELOG
VersionName.java
de.mo
doc/jscribble.1
doc/jscribble.1.html
doc/jscribble.1.markdown
html
install_files/completion/jscribble
javadoc
jscribble.pot
surrogates.tar
jscribble_*.tar.gz
