javadoc
VersionName.java
html
test
classlist
jscribble.pot
debian/jscribble
debian/jscribble*
debian/files
jscribble.jar.asc
.testrun
jscribble-*.*
*.properties
de.mo
*.class
*.jar
doc/jscribble.1.html
