*.class
*.jar
*.orig
*.properties
.classpath
.project
.testrun
CHANGELOG
VersionName.java
de.mo
doc/jscribble.1
doc/keylist.rst
html
install_files/completion/jscribble
javadoc
jscribble.pot
jscribble_*.tar.gz
surrogates.tar
